/* CSS styles for HTML5 skeleton  */

/* start layout styles */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

mark {
  background-color: transparent;
  color: inherit;
}

input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input,
select,
textarea {
  -moz-appearance: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  appearance: none;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

*,
*:before,
*:after {
  list-style: none;
  margin: 0px;
  padding: 0px;
  outline: none;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

html {
  overflow: visible;
}

body {
  position: relative;
  margin: 0;
  padding: 0;
}

img {
  border: 0;
  width: 100%;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
  vertical-align: middle;
}

p {
  color: #736565cc;
  line-height: 1.5;
}

span {
  color: #ccc;
}

a {
  color: #ccc;
  font-size: 15px;
  text-decoration: none;
  text-transform: capitalize;
}

a:hover {
  -moz-transition: color 0.2s ease-in-out;
  -webkit-transition: color 0.2s ease-in-out;
  -ms-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
}

/* Default link styling */
a:link {
  color: #ccc;
}
a:visited {
  color: #ccc;
}

a:hover,
a:focus {
  color: #4aaaa5;
}

a:active {
  color: #4aaaa5;
}

strong,
b {
  font-weight: 600;
}

em,
i {
  font-style: italic;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 300;
  line-height: 1.5;
  text-transform: uppercase;
  margin: 0 0 1.5rem 0;
  color: #111111bf;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  color: inherit;
  text-decoration: none;
}

h1 {
  font-size: 3rem;
  line-height: 1.2;
}

h2 {
  font-size: 2.25rem;
  line-height: 1.3;
}

h3 {
  font-size: 1.25rem;
}

h4 {
  font-size: 1rem;
}

h5 {
  font-size: 0.9rem;
}

h6 {
  font-size: 0.7rem;
}

::-webkit-input-placeholder {
  color: #aaa;
}

:-moz-placeholder {
  color: #aaa;
}

::-moz-placeholder {
  color: #aaa;
}

:-ms-input-placeholder {
  color: #aaa;
}

/* start input text styles */
input,
input[type='text'],
input[type='password'] {
  padding: 10px;
  border: 1px solid #cccccc40;
  cursor: text;
}

input:focus,
input[type='text']:focus,
input[type='password']:focus {
  outline: none;
  color: #ccc;
  border-color: #cccccc;
}
/* end input text styles */

/* start input button styles */
input[type='button'],
input[type='submit'],
input[type='reset'],
button[type='submit'],
button[type='reset'] {
  padding: 10px;
  text-decoration: none;
  cursor: pointer;
}
/* end input button styles */

.application {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main {
  flex: 1 0 auto;
}

.wrapper {
  padding-top: 30px;
  padding-bottom: 30px;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

/* end layout styles */

/* start top header styles */
.top-header {
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 10px;
}

.top-header a {
  margin: 5px;
}
/* end top header styles */

/* start footer styles */
.footer {
  background-color: #fff;
  border-top: 1px solid #cccccc40;
}

.footer .footer-content {
  flex-shrink: 0;
  width: 100%;
  color: #fff;
  padding: 25px 0px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
}

.footer .footer-block {
  text-align: center;
  width: 100%;
}

.footer-list-group li {
  padding-bottom: 10px;
}

.subscribe-form button[type='submit'] {
  border: 1px solid #d41a2b7d;
  background-color: #fff;
  color: #d41a2b7d;
  min-width: 20%;
}

.footer-bottom {
  border-top: 1px solid #cccccc40;
  padding: 20px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-bottom ul li {
  display: inline-block;
  padding: 10px 5px 0px 0px;
  color: #cccccc40;
}
/* end footer styles */

/* start location styles */
.location-section h3 {
  text-align: center;
}

.locations {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

.location-box {
  width: 100%;
  padding: 10px;
}

.location-box img {
  cursor: pointer;
}

.location-box img:hover {
  border: 1px solid #c52743;
  opacity: 0.8;
}

.location-box h4 {
  color: #c52743;
  margin: 10px 0px 3px;
}
/* end location styles */

/* start banner styles */
.banner-section {
  position: relative;
  padding: 10px;
}

.banner-section h3 {
  margin: 0px;
}

.banner-caption {
  width: 80%;
  height: 50%;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  position: absolute;
  top: 50%;
  right: auto;
  left: 50%;
  transform: translate(-50%, -50%);
}

.btn-link {
  cursor: pointer;
  min-width: 30%;
  text-align: center;
  padding: 10px;
  color: #c52743 !important;
  background-color: #fff;
  border: 1px solid #c52743 !important;
  text-transform: uppercase;
}

.btn-link:hover {
  color: #fff !important;
  background-color: #c52743;
}
/* end banner styles */

/* start products banner styles */
.products-title {
  text-align: center;
  margin: 20px 0px;
}

.products-title h2 {
  margin: 10px 0px;
}

.products-title p {
  width: 30%;
  margin: 0px auto;
}

.products-banner .btn-box {
  margin-top: 30px;
  text-align: center;
}

.products-content {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

.product-box {
  cursor: pointer;
  position: relative;
  width: 100%;
  padding: 10px;
}

.product-box img {
  cursor: pointer;
}

.product-box img:hover {
  opacity: 0.8;
}

.product-box:hover h1 {
  opacity: 1;
}

.product-box h1 {
  font-size: 1.25rem;
  opacity: 0;
  position: absolute;
  top: 50%;
  right: auto;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #c52743;
  margin: 10px 0px 3px;
}
/* end products banner styles */

/* start responsive styles*/
/* Extra small devices (phones, less than 768px) */
@media (max-width: 768px) {
  .footer .footer-content {
    flex-direction: column;
  }

  .footer .footer-block {
    margin: 10px 0px;
  }

  .subscribe-form input[type='text'] {
    width: 70%;
  }

  .footer-bottom {
    flex-direction: column;
  }

  .locations {
    flex-direction: column;
  }
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991px) {
  .container {
    width: 750px;
  }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199px) {
  .container {
    width: 970px;
  }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/* end responsive styles*/
